<!-- <div class="container"> -->
<p>
    <!-- Header -->
<%= render 'layouts/splash' %>

    <!-- Services Section -->
<%= render 'layouts/services' %>
    <!-- Portfolio Grid Section -->
    <!-- About Section -->
<%= render 'layouts/about' %>    
    <!-- Team Section -->
<%= render 'layouts/team' %>    
     <!-- Contact Section -->
<%= render 'layouts/contact' %> 
 <!-- </div>  -->
    
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

