    <tr>
    <% if logged_in? %>
      <td><%= link_to Organisation.find(user.organisation_id).name, Organisation.find(user.organisation_id) %></td>
      <% end %>
      <td><%= link_to user.name, user %></td>
      <td class="text-muted"><%=user.jobtitle%></td>
      <td class="text-muted"><%= mail_to user.email, "",class:"fa fa-envelope" %></td>
        <% if logged_in? %>
        <% if current_user.admin? && !current_user?(user) %>
		    <td><%= link_to "", user, method: :delete,
		                                  data: { confirm: "Permanantly remove #{user.name}?"}, class:"fa fa-trash" %></td>
		  <% end %>
 		 <% end %>
 	</tr>
