<% provide(:title, @user.name) %>
<section id="portfolio" class="bg-light-gray organisation">
  <!-- <div class="container"> -->
    <div class="row">   

          <div class="col-lg-2 col-md-2 col-ms-4 col-xs-">
          <div class="row">
              <div class="team-member">
              <p>
                  <div class="col-lg-12 col-xs-12">
                      <h2 class="section-heading text-left"><%=@user.name%></h2>                    
                      <%= gravatar_for @user %>
                  </div>
                  <div class ="col-lg-12 col-xs-12 text-left" >     
                      <p class="text-muted"><%=@user.jobtitle%></p>
                      <p class ="text-muted"><%=@user.email%></p>
                      <p text-left>
                      <ul class="list-inline social-buttons text-center">
                          <li><%= link_to content_tag(:i,nil,class: 'fa fa-facebook'),"https://www.facebook.com/#{@user.facebook}" %> </li>      
                          <li><%= link_to content_tag(:i,nil,class: 'fa fa-twitter'),"https://www.twitter.com/#{@user.twitter}" %> </li>
                          <li><%= link_to content_tag(:i,nil,class: 'fa fa-linkedin'),"https://#{@user.linkedin}" %> </li>
                      </ul></p>
                  </div>
             </div>
          </div>
          </div>

        <div class ="col-lg-10 col-md-10 col-ms-8 col-xs-12 text-left">
          <h4>Bio</h4>
          <p><%=@user.bio%></p>
              
        </div>
</div>
<!-- </div> -->
</section>